 
<mat-card>
  <h1>List of posts with comments</h1>
    <br><br>
    <mat-accordion >
      <mat-expansion-panel *ngFor =  "let blog of blogs$">
        <mat-expansion-panel-header>
         <!--  -->
                  <mat-panel-title>
                         {{blog.title}}
                </mat-panel-title>
                
                <mat-panel-description>
                    Blog Number: {{blog.id}}
                </mat-panel-description > 
          
          <p *ngIf = "savedId.indexOf(blog.id) != -1">{{afterSave}}</p>
        <button mat-button color="primary" (click)=saveBlog(blog.id,blog.title,blog.body) >Save</button>
        </mat-expansion-panel-header>
       
        <mat-panel-description>
                <p>{{blog.body}} </p>
        </mat-panel-description>
         <h3 > Comments: </h3>
        <mat-panel-description *ngFor =  "let comment of comments$">
         
        
            <p *ngIf = "blog.id==comment.postId" >{{comment.body}} </p>
        
        </mat-panel-description>
        
     </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
