<mat-card>
        <p *ngIf = "!(mypost$ | async)"> Loading..</p>
        <br><br>
        <mat-accordion >
          <mat-expansion-panel *ngFor =  "let post of mypost$ | async">
            <mat-expansion-panel-header >
             <!--  -->
                <mat-panel-title>
               {{post.title}}
              </mat-panel-title>
              <button mat-button (click)='likeUp(post.id, post.title, post.body, post.like)'> {{post.like}} Like </button>
              <button mat-button color="warn" (click)=deletePost(post.id)>Delete</button>
            </mat-expansion-panel-header>
            
            <p>{{post.body}} </p>
         </mat-expansion-panel>
        </mat-accordion>
      </mat-card>
    